@import "../../Styles/variables.scss";
@import "../../Styles/buttons.scss";

.nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
