@import '../../Styles/variables.scss';

.header {
    background-color: $secondary-color;
    padding: 3vh 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .piggybank {
        width: 200px;
    }
}

@media screen and (min-width: 800px) {
    .header {
        flex-direction: row;
    }
}